/*Default-Startup CSS*/
html, body, h1, h2, h3, p, ol, ul, li, a {
    padding: 0;
    border: 0;
    margin: 0;
    font: inherit;
    font-size: 100%;
}
/*END Default-Startup CSS*/
body {
    background-color: lightgrey;
}
p{
  margin-left: 5%;
  margin-top: 1%;
  color: black;
  font-family: courier;
  letter-spacing: 2px;
}
h1 {
    color: #000000;
    margin-left: 3%;
    font-family: courier;
    font-weight: bold;
    font-size: 36px;
}
h2 {
    color: #000000;
    margin-left: 3%;
    font-family: courier;
    font-weight: bold;
    font-size: 24px;
}
